# ROS2 / colcon
build/
install/
log/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.idea/
.claude/


# OS / IDE
.DS_Store
.vscode/
.idea/
.claude/
.vscode
.junie
frames_**

**.log

./artifacts/bags
./artifacts/maps
./artifacts/**